<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>


        <div class="profil">
            <div class="container">
                <div class="container-header">
                    <%= sondage.nom %>
                </div>
                <div class="container-row"><span class="row-label">Titre du sondage : </span>
                    <%= sondage.titre %>
                </div>
                <div class="container-row"><span class="row-label">Nombre de réponses</span>
                    0
                </div>
                <div class="container-row"><span class="row-label">Parution</span>
                    <%= sondage.parution %>
                </div>
                <div class="flex">
                    <div class="container-action"><a href="/edit-sondage?id=<%= sondage._id %>"
                            class="container-cta no-decoration">Editer le formulaire</a></div>
                    <div class="container-delete">
                        <div class="container-ctd">Supprimer</div>
                    </div>
                </div>

            </div>
        </div>
        </body>

        <script src="/js/index.js"></script>

        </html>