<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
        <div class="layout">
            <div class="layout-content">
                <div class="profil">
                    <div class="profil-card">
                        <div class="profil-card-figure">
                            <% if (mandataire.logo !=='' ) { %>
                                <img class="profil-image" width="128px" height="128px"
                                    src="upload/<%= mandataire.logo %>" alt="" class="profil-logo">
                                <% } else { %>
                                    <img class="profil-image" width="48px" height="48px" src="img/add-photo.png" alt=""
                                        class="profil-logo">
                                    <% } %>
                        </div>

                        <h3 class="profil-card-title">
                            <%= mandataire.nom %>
                            <%= mandataire.prenom %>
                        </h3>
                        <p class="profil-card-subtitle">
                            Mandats count
                        </p>

                        <!-- Supprimer un mandataire -->
                        <div onclick="deleteMandat('<%= mandataire._id %>')" class="profil-card-delete">
                            <img src="img/delete.png" width="12px" height="12px" alt="Supprimer">
                        </div>
                    </div>
                    <div class="profil-card">


                    </div>

                    <div class="container">
                        <div class="container-header">Informations générales</div>
                        <div class="container-row"><span class="row-label">Description :
                            </span>
                            <%= mandataire.description %>
                        </div>

                        <!-- Modifier un mandataire -->

                        <div class="container-action"><a href="/edit-mandataire?id=<%= mandataire._id %>"
                                class="container-cta">Modifier</div></a>
                    </div>

                    <div class="container">
                        <div class="container-header">Parution dans l' annuaire</div>
                        <% if (mandataire.contact) { %>

                            <div class="container-row"><span class="row-label">Contact Principal :
                                </span>
                                <%= mandataire.contact.titre %>
                            </div>
                            <div class="container-row"><span class="row-label">Identité :
                                </span>
                                <%= mandataire.contact.prenom %>
                                    <%= mandataire.contact.nom %>
                            </div>
                            <div class="container-row"><span class="row-label">Email :
                                    <%= mandataire.contact.email %>
                                </span>

                            </div>
                            <div class="container-row"><span class="row-label">Téléphone :
                                </span>
                                <%= mandataire.contact.telephone %>
                            </div>

                            <div class="container-row"><span class="row-label">LinkedIn :
                                </span>
                                <%= mandataire.contact.linkedin %>
                            </div>
                            <% } else { %>
                                <div class="container-row">Aucune informations de contact</div>
                                <% } %>

                                    <div class="container-row"><span class="row-label">Parution :
                                        </span>
                                        <%= mandataire.parution==1 ? 'activée' : 'desactivée' %>
                                    </div>

                                    <div class="container-action"><a href="/edit-contact?id=<%= mandataire._id %>"
                                            class="container-cta">Modifier</div></a>
                    </div>
                </div>




            </div>

            </body>
            <script>
                function deleteMandat(id) {
                    if (confirm('Voulez-vous vraiment supprimer cette mandataire ?')) {
                        fetch(`http://localhost:9999/api/mandataires/${id}`, {
                            method: "DELETE",
                            headers: {
                                'Content-type': 'application/json'
                            }
                        })
                        alert('Adhérent supprimé')
                        setTimeout(() => {
                        document.location.assign('/mandataires');
                            
                        }, 500);
                    }
                }
            </script>
            <script src="/js/index.js"></script>

            </html>