<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
            <div class="layout">
            <div class="layout-content">
                <div class="profil">
                    <div class="container">
                        <div class="container-header">Informations générales</div>
                        <% if (mandataire.logo !=='' ) { %>
                            <img style="margin: 0 0 1em 5%;" class="profil-image" width="128px" height="128px"
                                src="<%= mandataire.logo %>" alt="" class="profil-logo">
                            <% } else { %>
                                <img style="margin-left: 5%;" class="profil-image" width="48px" height="48px"
                                    src="img/add-photo.png" alt="" class="profil-logo">
                                <% } %>
                                    <div class="container-row"><span class="row-label">Nom :
                                        </span>
                                        <%= mandataire.nom %>
                                    </div>
                                    <div class="container-row"><span class="row-label">Prénom :
                                        </span>
                                        <%= mandataire.prenom %>
                                    </div>
                                    <div class="container-row"><span class="row-label">Nombre de mandats :
                                        </span>
                                        <%= representations.filter(el=> el.id_mandataire === mandataire._id).length %>
                                            Mandats
                                    </div>
                                    <div class="container-row"><span class="row-label">Description :
                                        </span>
                                        <%= mandataire.description %>
                                    </div>
                                    <!-- Modifier un mandataire -->
                                    <div class="flex">
                                        <a href="/edit-mandataire?id=<%= mandataire._id %>"
                                            class="container-action no-decoration">
                                            <div class="container-cta">Modifier</div>
                                        </a>
                                        <div onclick="deleteMandataire('<%= mandataire._id %>')"
                                            class="container-delete">
                                            <div class="container-ctd">Supprimer</div>
                                        </div>
                                    </div>

                    </div>

                    <div class="container">
                        <div class="container-header">Liste des mandats associés</div>
                        <% if (representations.filter(el=> el.id_mandataire === mandataire._id).length > 0) { %>
                            <% representations.filter(el=> el.id_mandataire === mandataire._id).forEach(representation=>
                                { %>
                                <div class="card-representation">
                                    <div class="card-representation-title">
                                        <%= mandats.find(el=> el._id === representation.id_mandat).label %>
                                    </div>
                                    <div class="card-representation-subtitle">
                                        <%= representation.titre %>
                                    </div>
                                    <div onclick="deleteRepresentation('<%= representation._id %>')"
                                        class="card-representation-delete"><img src="img/chat.png" width="32px"
                                            height="32px" alt="delete">
                                    </div>
                                </div>

                                <% }) %>
                                    <% } %>
                                        <div class="card-representation-add">
                                            <div class="card-representation-title">Lier un nouveau
                                                mandat</div>
                                            <form onsubmit="newRepresentation(event, '<%= mandataire._id %>')">
                                                <select class="card-representation-input" name="mandat" id="mandat">
                                                    <option value="">Sélectionner un mandataire</option>
                                                    <% mandats.forEach(mandat=> { %>
                                                        <option value="<%= mandat._id %>">
                                                            <%= mandat.label %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                <input class="card-representation-input" type="text" placeholder="Rôle"
                                                    id="titre">
                                                <input type="submit" class="card-representation-cta"
                                                    value="Assigner un mandat">
                                            </form>
                                        </div>
                    </div>
                </div>
            </div>
            </body>
            <script>
                function newRepresentation(event, id) {
                    event.preventDefault();
                    let select = document.getElementById('mandat');
                    let id_mandat = select.options[select.selectedIndex].value;
                    let representation = {
                        id_mandat: id_mandat,
                        id_mandataire: id,
                        titre: document.getElementById('titre').value,

                    }
                    try {
                        fetch(`http://localhost:9999/api/representations`, {
                            method: "POST",
                            headers: {
                                'Content-type': 'application/json'
                            },
                            body: JSON.stringify(representation)
                        })

                        alert('Représentation ajoutée')
                        document.location.reload()
                    } catch (error) {
                        console.log(error.message);
                        alert('Seems baddd')
                    }


                }

                function deleteRepresentation(id) {
                    if (confirm('Voulez-vous vraiment supprimer cette mandat ?')) {
                        fetch(`http://localhost:9999/api/representations/${id}`, {
                            method: "DELETE",
                            headers: {
                                'Content-type': 'application/json'
                            }
                        })
                        alert('Représentation supprimée')
                        setTimeout(() => {
                            document.location.reload();

                        }, 500);

                    }
                }

                function deleteMandataire(id) {
                    if (confirm('Voulez-vous vraiment supprimer cette mandataire ?')) {
                        fetch(`http://localhost:9999/api/mandataires/${id}`, {
                            method: "DELETE",
                            headers: {
                                'Content-type': 'application/json'
                            }
                        })
                        fetch(`http://localhost:9999/api/representations/${id}/mandataires`, {
                            method: "DELETE",
                            headers: {
                                'Content-type': 'application/json'
                            }
                        })
                        alert('Mandataire supprimé')
                        setTimeout(() => {
                            document.location.assign('/mandataires');
                        }, 500);
                    }
                }
            </script>
            <script src="/js/index.js"></script>

            </html>